<div class="mb-3 row">
    <label for="@id" class="col-sm-2 col-form-label">@Label</label>
    <div class="col-sm-10">
        @InputHtml
    </div>
    <span style="color:@tclr">
        @TestHtml
    </span>
    
</div>

@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string tclr { get; set; }

    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public RenderFragment InputHtml { get; set; }
    [Parameter]
    public RenderFragment TestHtml { get; set; }
}
