@page "/"
@attribute [StreamRendering]
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore

<PageTitle>Home</PageTitle>

<h1>Hello, world! @UserName</h1>

Welcome to your new app

@code {
    private string UserName = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();


    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            UserName = (await ProtectedLocalStore.GetAsync<string>("UserName")).Value ?? "";
            StateHasChanged();
           
        }
    }
        
}
